<div class="wally_placeholder_list_container">
  <div class="wally_placeholder_img"></div>
  <div class="wally_placeholder_content">
    <div class="wally_placeholder_heading"></div>
    <div class="wally_placeholder_desc">
      <div></div>
      <div></div>
    </div>
    <div class="wally_placeholder_info">
      <div style="width: 70%"></div>
      <div style="width: 30%"></div>
    </div>
    <div class="wally_placeholder_credit"></div>
  </div>
</div>
<div class="wally_placeholder_list_container">
  <div class="wally_placeholder_img"></div>
  <div class="wally_placeholder_content">
    <div class="wally_placeholder_heading"></div>
    <div class="wally_placeholder_desc">
      <div></div>
      <div></div>
    </div>
    <div class="wally_placeholder_info">
      <div style="width: 70%"></div>
      <div style="width: 30%"></div>
    </div>
    <div class="wally_placeholder_credit"></div>
  </div>
</div>
<div class="wally_placeholder_list_container">
  <div class="wally_placeholder_img"></div>
  <div class="wally_placeholder_content">
    <div class="wally_placeholder_heading"></div>
    <div class="wally_placeholder_desc">
      <div></div>
      <div></div>
    </div>
    <div class="wally_placeholder_info">
      <div style="width: 70%"></div>
      <div style="width: 30%"></div>
    </div>
    <div class="wally_placeholder_credit"></div>
  </div>
</div>
